<a href="https://colab.research.google.com/github/Eduard2591/analisis-exploratorio-datos/blob/main/analisis_descriptivo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
# Importar librería
import pandas as pd

#Cargar datos
datos = pd.read_excel("Datos1_Unidad1.xlsx")

# deshacer la notacion cientifica de los numeros
pd.options.display.float_format = '{:.2f}'.format

#Mostrar datos
print(datos)

           ID   Salario   Gastos Género   Ahorro  Crédito_Aprobado
0   DNI442352   5888001  1425820      M  2231090          26773080
1   DNI160972   2681577   593844      M  1043866          12526392
2   DNI548996   6503861  1871383      F  2316239          27794868
3   DNI121819   8302208  2261667      F  3020270          36243240
4   DNI596596   6973396  1463632      M  2754882          33058584
..        ...       ...      ...    ...      ...               ...
95  DNI461018   6567138  2311159      M  2127989          25535868
96  DNI785301   9129957  1986299      M  3571829          42861948
97  DNI652070   9295512  2633966      M  3330773          39969276
98  DNI640251   4957485  1692753      M  1632366          19588392
99  DNI860431  10549064  2885335      F  3831864          45982368

[100 rows x 6 columns]

In [26]:
# Info del conjunto de datos
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                100 non-null    object
 1   Salario           100 non-null    int64
 2   Gastos            100 non-null    int64
 3   Género            100 non-null    object
 4   Ahorro            100 non-null    int64
 5   Crédito_Aprobado  100 non-null    int64
dtypes: int64(4), object(2)
memory usage: 4.8+ KB

In [27]:
# Mostrarmos lo primeros registros del DataFrame
datos.head()

          ID  Salario   Gastos Género   Ahorro  Crédito_Aprobado
0  DNI442352  5888001  1425820      M  2231090          26773080
1  DNI160972  2681577   593844      M  1043866          12526392
2  DNI548996  6503861  1871383      F  2316239          27794868
3  DNI121819  8302208  2261667      F  3020270          36243240
4  DNI596596  6973396  1463632      M  2754882          33058584

In [28]:
# Mostramos lo ultimos registro del DataFrame
datos.tail()

           ID   Salario   Gastos Género   Ahorro  Crédito_Aprobado
95  DNI461018   6567138  2311159      M  2127989          25535868
96  DNI785301   9129957  1986299      M  3571829          42861948
97  DNI652070   9295512  2633966      M  3330773          39969276
98  DNI640251   4957485  1692753      M  1632366          19588392
99  DNI860431  10549064  2885335      F  3831864          45982368

In [29]:
# Mostramos Registros aleatorios
datos.sample(5)

           ID  Salario   Gastos Género   Ahorro  Crédito_Aprobado
12  DNI954972  1958550   667126      M   645712           7748544
29  DNI241696  5975372  1256923      F  2359224          28310688
51  DNI654215  9388033  3406102      M  2990965          35891580
89  DNI458755  4232151  1324375      F  1453888          17446656
63  DNI696891  9438438  2512541      M  3462948          41555376

In [14]:
# Resumen estadistico descriotivo de las variables
datos.describe()

          Salario     Gastos     Ahorro  Crédito_Aprobado
count      100.00     100.00     100.00            100.00
mean   5703606.07 1624066.00 2039769.76       24477237.12
std    2875223.98  934666.66 1021906.60       12262879.18
min    1034160.00  316351.00  323304.00        3879648.00
25%    2987470.00  883666.75 1059631.25       12715575.00
50%    5752571.00 1466632.00 2033882.50       24406590.00
75%    8131642.25 2275892.50 2846123.75       34153485.00
max   10879283.00 4190267.00 4089139.00       49069668.00

In [15]:
# Aplicamos el metodo describe para todas las variables
datos.describe(include="all")

               ID     Salario     Gastos Género     Ahorro  Crédito_Aprobado
count         100      100.00     100.00    100     100.00            100.00
unique        100         NaN        NaN      2        NaN               NaN
top     DNI442352         NaN        NaN      M        NaN               NaN
freq            1         NaN        NaN     51        NaN               NaN
mean          NaN  5703606.07 1624066.00    NaN 2039769.76       24477237.12
std           NaN  2875223.98  934666.66    NaN 1021906.60       12262879.18
min           NaN  1034160.00  316351.00    NaN  323304.00        3879648.00
25%           NaN  2987470.00  883666.75    NaN 1059631.25       12715575.00
50%           NaN  5752571.00 1466632.00    NaN 2033882.50       24406590.00
75%           NaN  8131642.25 2275892.50    NaN 2846123.75       34153485.00
max           NaN 10879283.00 4190267.00    NaN 4089139.00       49069668.00

In [19]:
# Descripción de una sola variable
datos["Salario"].describe()

count        100.00
mean     5703606.07
std      2875223.98
min      1034160.00
25%      2987470.00
50%      5752571.00
75%      8131642.25
max     10879283.00
Name: Salario, dtype: float64

In [21]:
# Descripción de una variable categórica
datos["Género"].describe()

count     100
unique      2
top         M
freq       51
Name: Género, dtype: object

## Análisis descriptivo de los datos

In [22]:
# Operaciones de la columna "Salario"
x= datos.Salario

type(x)

pandas.core.series.Series

In [31]:
# Media aritmética del DataFrame (excluyendo columnas no numéricas)
print(datos.mean(numeric_only=True))

Salario             5703606.07
Gastos              1624066.00
Ahorro              2039769.76
Crédito_Aprobado   24477237.12
dtype: float64

In [35]:
# Media aritmética
print(x.mean())

5703606.07

In [37]:
# Mediana de todo el conjunto de datos
print(datos.median(numeric_only=True))

Salario             5752571.00
Gastos              1466632.00
Ahorro              2033882.50
Crédito_Aprobado   24406590.00
dtype: float64

In [33]:
# Mediana de la variable "Salario"
x.median()

5752571.0

In [42]:
# Valores máximo del DataFrame
datos.max()

ID                  DNI982816
Salario              10879283
Gastos                4190267
Género                      M
Ahorro                4089139
Crédito_Aprobado     49069668
dtype: object

In [43]:
# Valores mínimos del DataFrame
datos.min()

ID                  DNI102912
Salario               1034160
Gastos                 316351
Género                      F
Ahorro                 323304
Crédito_Aprobado      3879648
dtype: object

In [39]:
# Valor maximo y minimo de "Salario"
print("El salrio máximo es: ",x.max())
print("El salario mínimo es: ",x.min())

El salrio máximo es:  10879283
El salario mínimo es:  1034160

In [47]:
# Moda del DataFrame
print(datos.mode())

           ID   Salario   Gastos Género   Ahorro  Crédito_Aprobado
0   DNI102912   1034160   316351      M   323304           3879648
1   DNI110073   1179275   326661    NaN   400945           4811340
2   DNI118439   1196725   370646    NaN   435032           5220384
3   DNI121819   1344419   377384    NaN   436511           5238132
4   DNI123106   1376960   385409    NaN   455305           5463660
..        ...       ...      ...    ...      ...               ...
95  DNI941685  10549064  3406102    NaN  3760620          45127440
96  DNI954972  10611828  3524068    NaN  3831864          45982368
97  DNI956854  10634364  3540640    NaN  3850986          46211832
98  DNI961563  10708304  3759581    NaN  3885054          46620648
99  DNI982816  10879283  4190267    NaN  4089139          49069668

[100 rows x 6 columns]

In [44]:
# Moda de una variable categorica
datos["Género"].mode()

0    M
Name: Género, dtype: object

In [51]:
# Cuantiles de todas las Variables
print(datos.quantile([0, 0.25, 0.5, 0.75, 1], numeric_only=True))

         Salario     Gastos     Ahorro  Crédito_Aprobado
0.00  1034160.00  316351.00  323304.00        3879648.00
0.25  2987470.00  883666.75 1059631.25       12715575.00
0.50  5752571.00 1466632.00 2033882.50       24406590.00
0.75  8131642.25 2275892.50 2846123.75       34153485.00
1.00 10879283.00 4190267.00 4089139.00       49069668.00

In [49]:
# Cuantiles
cuantiles = [0, 0.25, 0.5, 0.75, 1]
datos.Salario.quantile(cuantiles)

0.00    1034160.00
0.25    2987470.00
0.50    5752571.00
0.75    8131642.25
1.00   10879283.00
Name: Salario, dtype: float64

In [55]:
# Varianza de todo el DataFrame
print(datos.var(numeric_only=True))

Salario              8266912957611.40
Gastos                873601762337.21
Ahorro               1044293095674.41
Crédito_Aprobado   150378205777114.53
dtype: float64

In [52]:
# Varianza de una variable
datos.Salario.var()

8266912957611.399

In [53]:
# varianza de la variable "Salario " por género
datos.groupby("Género")["Salario"].var()

Género
F   8890771350179.94
M   7401473947154.63
Name: Salario, dtype: float64

In [56]:
# Desviación estándar del DataFrame
print(datos.std(numeric_only=True))

Salario             2875223.98
Gastos               934666.66
Ahorro              1021906.60
Crédito_Aprobado   12262879.18
dtype: float64

In [57]:
#  Desviación estándar de una variable
datos.Salario.std()

2875223.9839030625

In [60]:
# Coeficiente de variación
print(datos.Salario.std()/datos.Salario.mean())

0.5041063405529096

## Medidas de asimetría (procedimientos)

In [63]:
# Asimetría del DataFrame
print(datos.skew(numeric_only=True))

Salario            0.11
Gastos             0.57
Ahorro             0.10
Crédito_Aprobado   0.10
dtype: float64

In [62]:
# Asimetría de la variable salario
print(datos.Salario.skew())

0.11068709639052367

In [64]:
# Coeficiente de curtosis del DataFrame
print(datos.kurtosis(numeric_only=True))

Salario            -1.19
Gastos             -0.49
Ahorro             -1.15
Crédito_Aprobado   -1.15
dtype: float64

In [65]:
# Coeficiente de curtosis para la variable 'Salario'
print(datos.Salario.kurtosis())

-1.188446162722117

### Para la variable Salario, se puede decir que la distribución de los datos es platicúrtica, dado que su coeficiente de curtosis es menor que cero. Esto indica una baja concentración de los datos respecto a la media aritmética.

In [74]:
# Correlación para las variables numéricas del conjunto de datos
print(datos.corr(numeric_only=True))

                  Salario  Gastos  Ahorro  Crédito_Aprobado
Salario              1.00    0.92    0.98              0.98
Gastos               0.92    1.00    0.84              0.84
Ahorro               0.98    0.84    1.00              1.00
Crédito_Aprobado     0.98    0.84    1.00              1.00

### Se puede observar una alta correlación entre las cuatro variables (todas mayores a 0.7), dado que dependiendo del salario dependen los gastos, la capacidad de ahorro y el crédito aprobado.